doctype 5
html(lang='en', ng-app)
  head

    meta(charset='utf-8')
    title= title

    //- TODO Yuck!! move the bootstrap css out of the js folder
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/vendor/angular/angular.js')
    script(src='/javascripts/controllers/TodoListController.js')

  body

    block content
